<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Full Stack</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/app.js"></script>
  </head>
  <body>

    <!-- super secret ruby method -->
    <%= yield %>
    <!--end super secret ruby method -->

  </body>
</html>
